.footer{
    text-align: center;
}
.header{
    
}
#grid{
    width: 100%;
}
.grid-element{
    display: inline-block;
    width:30%;
    margin:1.25%;
    background-color: rgba(124, 90, 110, 0.19);
}
.jumbotron{
    width:90%;
    margin:auto;
}
.grid-element tr td p{
    font-size: 12px;
    line-height: 0.6;
    vertical-align: middle;
    height: 100%;
}
.grid-element tr td{
    vertical-align: middle;
}