
html{
	width:100%;
	height:100%;
}
body{
	width:80%;
}
 
#seeking tr td{
	vertical-align:middle; 
}
#seeking tr:hover{
	background-color:#d6d6d6; 
}
#giving tr td{
	vertical-align:middle; 
}
#giving tr:hover{
	background-color:#d6d6d6; 
}
.table tr td a:hover{
	text-decoration:none;
	color:black;
}
.table tr td a{
	text-decoration:none;
	color:black;
}
.nav-item{
	font-size:20px;
}
#description{
	height:150px;
	vertical-align:text-top;
}

 