<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/commonStyles.css" th:href="@{../css/commonStyles.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/user.css" th:href="@{../css/user.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<body>

</body>
</html>