<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>

<div th:fragment="header">
    <div class="header">
    <nav style="background-color:#cddaff" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img style="width:50px;height:50px" src="https://cdn3.iconfinder.com/data/icons/musthave/256/Previous.png"/>
                ы
            </div>
        </div>
    </nav>
    </div>
</div>


</body>
</html>