<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>

<div th:fragment="header">
    <div class="header">
    <nav style="background-color:#cddaff" class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav text-center">
            <a class="navbar-brand" style="border-right:1px solid #e3e3e3 ; background-color:#eeeeee">Name</a>
            <li class="nav-item">
                <a class="nav-link" href="">Личный кабинет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${'http://localhost:8080/tasks'}">Задания</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Поиск</a>
            </li>
        </ul>
    </nav>
    </div>
</div>


</body>
</html>